<% if @recipe.errors.any? %> <div id="error_explanation"> <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this post from being saved:</h2> <ul> <% @recipe.errors.full_messages.each do |msg| %> <li><%= msg %></li> <% end %> </ul> </div> <% end %> 
<%= form_for @recipe do |f|%>

<label for="name">Recipe name</label>
<%= f.text_field :name%>
<br>
<label for="group_id">Group name</label>
<%= f.collection_select :group_id, Group.order(:name),:id,:name, include_blank: true %>
<br>
<label for="amount">amount</label>
<%= f.number_field :amount%>

<%= f.submit "Submit"%>
<%end%>