<!DOCTYPE html>
<html>
  <head>
    <title>Katchy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if cookies[:id].to_i.positive? %>
  <nav id="nav">
  <hr>
  <%= form_tag search_path, :method => 'get', :class => 'search_form' do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "enter a search here" %>
    <%= submit_tag 'ðŸ”', :name => nil %>
  </p>
<% end %>
  <hr>
  <p class="user-tab">Hello, <a href="<%= users_path + "/" + @current_user.id.to_s %>"><%=  @current_user.name %></a> <%= sanitize @logout %></p>
  <hr>
  <a href="<%= users_path %>">All Users</a>
  <hr>
  <a href="<%= groups_path %>">All Groups</a>
  <hr>
  <a href="<%= recipes_path %>">All Recipes</a>
  <hr>
  <button id="menu-btn" onclick="hamburgerBtn()">	&#9776;</button>
  </nav>
  <%end%>
    <main>
    <% if flash[:danger] || flash[:success] %>
 <div class="flash-container">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %>
    </div>
    <% end %>
  </div>
  <% end %>
    <%= yield %>
    
    <div id="new">
    <button id="new-btn"><svg id="new-svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg></button>
  <% if cookies[:id].to_i.positive? %>
    <a class="add" id="add-group" href="<%= new_group_path %>">New Group</a>
    <a class="add" id="add-recipe" href="<%= new_recipe_path %>">New Recipe</a>
    <%else %>
    <a class="add" id="add-group" href="<%= new_user_path %>">New User</a>
    <%end%>
    </div>
    </main>
  </body>
</html>
